{% extends 'base.html'%}

{% block content %}


<div class="row justify-content-center">
            
    <div class="col-xl-5 col-md-8">

        
      <form class="bg-white rounded shadow-5-strong p-5" method="POST">
        <h1>REGISTER AS A DOCTOR</h1>
        {% csrf_token %}
        {%for field in form%}
            <p>
                {{field.label}}:{{field}}
            </p>
        {% endfor %}
      
        <a href="{% url 'login' %}"><button class="btn btn-primary">Register</button></a>
        
        
      
      </form>
      
    </div>

  </div>

{% endblock %}  